@import './reset.css';
@import './fonts/fonts.css';


* {
  box-sizing: border-box;
  font-family: Roboto-Regular;
}

body {
  font-size: 15px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.posRel {
  position: relative;
}

input {
  border: 0;
}