@import './css/variables.css';
@import './css/reset.css';
@import './fonts/fonts.css';


* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: Roboto-Regular;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.posRel {
  position: relative;
}

input {
  border: 0;
}

.mainMenu {
  padding-left: 0rem;
  margin-top: 0;
  margin-bottom: 0rem;
}

#root a {
  text-decoration: none;
}