@import './reset.css';

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.posRel {
  position: relative;
}

input {
  border: 0;
}


